.GroupAdd{height: auto; overflow: hidden; margin-bottom: 20px;}
.GroupList ul.up{ margin-bottom: 15px}
.GroupList ul.up li{display: inline-block; *display: inherit; *zoom: 1}
.GroupList ul.up li .el-button:nth-child(1){ margin-left: 10px}