html,body{ margin: 0; padding: 0;font: 14px Helvetica Neue,Helvetica,PingFang SC,\5FAE\8F6F\96C5\9ED1,Tahoma,Arial,sans-serif;
    background: #f2f2f2; height: 100%;min-height:100% ; }
input,button,select{font: 14px Helvetica Neue,Helvetica,PingFang SC,\5FAE\8F6F\96C5\9ED1,Tahoma,Arial,sans-serif;outline:none;}     
a{ text-decoration: none; color: #fff}
ul{ padding: 0; margin: 0; list-style: none}
em,i{ font-style: normal;}
.success{color:#67c23a }
.red{ color:#f56c6c}
.fl{ float: left;}
.fr{ float: right;}

/*定义背景色*/
.bg-blue{ background: #409eff;}
.bg-success{ background: #67c23a;}
.bg-warning{ background: #e6a23c;}
.bg-danger{ background: #f56c6c;}
.bg-info{ background: #909399;}

/*定义字体颜色*/
.blue{ color: #409eff}
.success{color: #67c23a}
.warning{color: #e6a23c}
.danger{color: #f56c6c}
.info{color: #909399}

.el-main{ padding: 15px !important}
::-webkit-scrollbar {/*滚动条整体样式*/width: 5px; /*高宽分别对应横竖滚动条的尺寸*/height: 10px;}
::-webkit-scrollbar-thumb {/*滚动条里面小方块*/border-radius: 10px;background-color: #959595;}
::-webkit-scrollbar-track {/*滚动条里面轨道*/-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);/*border-radius: 10px;*/ }

.refresh a{ color: #999}

/*弹出层大小*/
em.red{ color: #ff0000}
.tag-dial .el-dialog{ width: 600px;min-width: 600px;}
.tag-dials .el-dialog{ width: 650px;min-width: 650px}
.Calls-test .el-dialog{ width: 500px;min-width: 500px;}
.Infos .el-dialog{ width: 500px; min-width: 500px;}
.Prompt-dial .el-dialog{ width: 300px;min-width: 300px;}
.DialogueMain .el-dialog{ width: 750px; min-width: 750px}
.DialogueMain2 .el-dialog{ width: 950px; min-width:950px}
.DontMain .el-dialog{ width: 1100px;min-width:1100px}



/*分页*/
.pagination{ padding-top: 20px; height: 40px; overflow: hidden;text-align: center}
/*搜索区域布局*/
.seachForm{ margin-bottom: 15px; height: auto; overflow: hidden;}
.seachForm ul li{ float: left; margin-right: 10px}

/*测试对话样式*/
.dialogueList ul li{position: relative;font-size: 0;margin-bottom: 10px;padding-left: 60px;min-height: 68px; height: auto; overflow: hidden;}
.dialogueList ul li .el-button{ padding: 5px 10px;font-size: 12px}
.layim-chat-text, .layim-chat-user {display: inline-block;vertical-align: top;font-size: 14px;}
.layim-chat-user {position: absolute;left: 3px;}
.layim-chat-user img {width: 40px;height: 40px;border-radius: 100%;}
.layim-chat-user cite {position: absolute;left: 60px;top: -2px;width: 500px;line-height: 24px;font-size: 12px;white-space: nowrap;color: #999;text-align: left;font-style: normal;}
.layim-chat-user cite i {padding-left: 15px;font-style: normal;}
.layim-chat-text {position: relative;line-height: 22px;margin-top: 25px;padding: 8px 15px;background-color: #e2e2e2; border-radius: 3px;color: #333;word-break: break-all;max-width: 462px\9;}
.layim-chat-text:after {content: '';position: absolute;
    left: -10px;top: 13px;width: 0;height: 0;border-style: solid dashed dashed;border-color: #e2e2e2 transparent transparent;overflow: hidden;border-width: 10px;
}
.dialogueList{ height: 422px; border-bottom:1px solid #ececec;max-height: 452px;
    overflow-y: auto;  padding: 15px; background-size:cover;  }
.DialogueMain .dialogue {height:500px; background: #FFF}
.DialogueInput{ padding-top: 10px}
.dialogueList ul .layim-chat-mine {text-align: right;padding-left: 0;padding-right: 60px;min-height:100px}
.dialogueList ul .layim-chat-mine1 {min-height:120px}
.dialogueList ul .layim-chat-mine .layim-chat-user {left: auto;right: 3px;}
.dialogueList ul .layim-chat-mine .layim-chat-user cite {left: auto;right: 60px;text-align: right;}
.dialogueList ul .layim-chat-mine .layim-chat-user cite i {padding-left: 0;padding-right: 15px;}
.dialogueList ul .layim-chat-mine .layim-chat-text {margin-left: 0;text-align: left;background-color: #5FB878;color: #fff;}
.dialogueList ul .layim-chat-mine .layim-chat-text:after {left: auto;right: -10px;border-top-color: #5FB878;}

.DialogueMain .el-dialog__body{ padding: 10px 20px;}
.DialogueMain2 .el-dialog__body{ padding: 10px 0px;}


.PredictAdd{height: auto; overflow: hidden; margin-bottom: 20px;}
